@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    /* @apply border-foreground/20; */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;

}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
body,
html {
  padding: 0;
  margin: 0;
}

.ͼ1 .cm-scroller {
  /* font-size: 12px; */
  /* line-height: 150%; */


}
.cm-editor {
  border: 0;
  border-radius: 8px;
  height: 100%;
  line-height: 133%;
  overflow: hidden;
  padding: 18px 18px;
  padding-left: 12px;
  height: auto;
  min-width: auto;
}
.cm-editor.cm-focused {
  border: none !important;
  outline: none;
}

.cm-editor .cm-gutters {
  display: none;
}

.cm-editor .cm-scroller {
  padding-top: 1rem;
  display: none;
  overflow: hidden !important;
}

.cm-editor .cm-activeLine {
  background: none;
}
.cm-editor .cm-ySelectionCaretDot {
  display: none;
}

.cm-editor .cm-ySelectionInfo {
  position: absolute;
  top: -1.6em;
  left: -1px;
  padding: 2px 6px;
  opacity: 1;
  color: #fff;
  border: 0;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  line-height: normal;
  white-space: nowrap;
  font-size: 14px;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-style: normal;
  font-weight: 600;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 1000;
}
